{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block body_class %}auth-body{% endblock %}

{% block content %}
<div class="card-box">
  <h2 class="text-center mb-4">Reset Password</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input type="password" class="form-control" name="new_password" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-custom">Update Password</button>
    </div>
  </form>
  <div class="extra-links">
    <p>Remembered your password? <a href="{% url 'login' %}">Login</a></p>
  </div>
</div>
{% endblock %}
